@import "util/media";


.jumbotron {
	position: relative;
	min-height: 100vh;

	background: url(/static/bg.jpg);
	background-origin: center;
	background-size: cover;

	> .jumbotron__text {
		background-color: rgba(0,0,0,0.3);

		height: 100vh;

		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		
		> img {
			max-width: 80%;
			margin: 0 10% 10px 10%;
			height: auto;

			@include media-desktop {
				max-width: 400px;
				margin: 0 0 10px 0;
			}
		}
	}
}

